<a href="https://colab.research.google.com/github/AlexisGCA/cyp_2021/blob/main/Tarea_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
# Ejercicio 2.4
SUE = float(input("Introduzca su sueldo:"))
if(SUE<1000):
  NSUE= SUE * 1.15
  print("Su sueldo es de:", NSUE)

else:
  NSUE= SUE * 1.12
  print("Su sueldo es de:", NSUE)

Introduzca su sueldo:680.70
Su sueldo es de: 782.805

In [27]:
# Ejercicio 2.8
CATE = float(input("Introduzca su categoria:"))
SUE = float(input("Introduzca su sueldo:"))

if(CATE == 1 ):
  print("Su categoria es: 1")
  CATE1= SUE * 1.15
  print("Su sueldo es de:", CATE1)

elif(CATE == 2):
  print("Su categoria es: 2")
  CATE2= SUE * 1.10
  print("Su sueldo es de:", CATE2)

elif (CATE== 3):
  print("Su categoria es: 3")
  CATE3= SUE * 1.08
  print("Su sueldo es de:", CATE3)

elif (CATE == 4):
  print("Su categoria es: 4")
  CATE4= SUE * 1.07
  print("Su sueldo es de:", CATE4)

Introduzca su categoria:4
Introduzca su sueldo:6200
Su categoria es: 4
Su sueldo es de: 6634.0